@mixin glassBlackLight {
  background: rgba(35, 35, 35, 0.37);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.7px);
  -webkit-backdrop-filter: blur(18.7px);
}

@mixin glassBlackDark {
  background: rgba(35, 35, 35, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.7px);
  -webkit-backdrop-filter: blur(18.7px);
}

@mixin glassWhiteLight {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.7px);
  -webkit-backdrop-filter: blur(18.7px);
}

@mixin glassWhiteDark {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.7px);
  -webkit-backdrop-filter: blur(18.7px);
}

.glass-light {
  @include glassBlackLight;
}

.glass-dark {
  @include glassBlackDark;
}

.glass-white-light {
  @include glassWhiteLight;
}

.glass-white-dark {
  @include glassWhiteLight;
}
