/**
 *  Google fonts
 */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

/**
 *  Typography
 */
@import "./variables.scss";

// Font weight
@each $weight in $font-weights {
  .fw-#{$weight} {
    font-weight: $weight;
  }
}

// Letter spacing
@each $size, $value in $letter-spacing {
  .ls-#{$size} {
    letter-spacing: $value;
  }
}

// Text color
@each $color, $value in $colors {
  .text-#{$color} {
    color: $value;
  }
}

/**
 *  Responsive & Size
 */
@media (max-width: 331.98px) {
  .h1-responsive {
    font-size: 3rem;
  }

  .h2-responsive {
    font-size: 1.5rem;
  }

  .h3-responsive {
    font-size: 1.4rem;
  }

  .h4-responsive {
    font-size: 1.3rem;
  }

  .h5-responsive {
    font-size: 1.1rem;
  }

  .h6-responsive {
    font-size: 1rem;
  }
}

@media (min-width: 332px) and (max-width: 575.98px) {
  .h1-responsive {
    font-size: 3rem;
  }

  .h2-responsive {
    font-size: 1.8rem;
  }

  .h3-responsive {
    font-size: 1.4rem;
  }

  .h4-responsive {
    font-size: 1.3rem;
  }

  .h5-responsive {
    font-size: 1.1rem;
  }

  .h6-responsive {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .h1-responsive {
    font-size: 4rem;
  }

  .h2-responsive {
    font-size: 2rem;
  }

  .h3-responsive {
    font-size: 1.5rem;
  }

  .h4-responsive {
    font-size: 1.4rem;
  }

  .h5-responsive {
    font-size: 1.2rem;
  }

  .h6-responsive {
    font-size: 1.05rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .h1-responsive {
    font-size: 5rem;
  }

  .h2-responsive {
    font-size: 2.25rem;
  }

  .h3-responsive {
    font-size: 1.75rem;
  }

  .h4-responsive {
    font-size: 1.4rem;
  }

  .h5-responsive {
    font-size: 1.2rem;
  }

  .h6-responsive {
    font-size: 1.05rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .h1-responsive {
    font-size: 6rem;
  }

  .h2-responsive {
    font-size: 2.25rem;
  }

  .h3-responsive {
    font-size: 1.75rem;
  }

  .h4-responsive {
    font-size: 1.4rem;
  }

  .h5-responsive {
    font-size: 1.2rem;
  }

  .h6-responsive {
    font-size: 1.05rem;
  }
}

@media (min-width: 1200px) {
  .h1-responsive {
    font-size: 6rem;
  }

  .h2-responsive {
    font-size: 3.5rem;
  }

  .h3-responsive {
    font-size: 2.5rem;
  }

  .h4-responsive {
    font-size: 1.45rem;
  }

  .h5-responsive {
    font-size: 1.2rem;
  }

  .h6-responsive {
    font-size: 1.05rem;
  }
}

/**
 *  Font family
 */
.bebas {
  font-family: "Bebas Neue", cursive;
}

.megrim {
  font-family: "Megrim", cursive;
}

.majorm {
  font-family: "Major Mono Display", monospace;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

/**
 *  General aspects
 */
.title {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.06em;
}

@media (min-width: 992px) {
  .title {
    font-size: 3.3em;
  }
}
@media (max-width: 992px) {
  .title {
    font-size: 2.5em;
  }
}
