@import "./variables";

/**
 *  Document
 */
#app {
  font-family: "Bebas Neue", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  min-height: 100vh;
  color: $black-a;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background: #232323;
  overflow-x: hidden;
}

html,
body {
  min-height: 100vh !important;
}
// #content {
//   min-height: 80vh !important;
//   padding-bottom: 100px;
// }

/**
 *  Unselectable element
 */
.uns {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (min-width: 992px) {
  .web-hide {
    display: none !important;
  }
  .main-padding {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
@media screen and (max-width: 992px) {
  .mobile-hide {
    display: none !important;
  }
  .main-padding {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

